.NavBar {
  background-color: #a40c04;
  padding: 1.5em;

  &__Item {
    padding: 1.5em 2.5em;
    color: white;
    text-decoration: none;

    &:hover {
      background-color: darken(#a40c04,4);
    }

    &:active {
      background-color: darken(#a40c04, 6);
    }

    &:focus {
      color: #fabdc9;
    }
  }
}