<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>abad: {{ hostname }}</title>
        <link rel="stylesheet" href="/static/bulma.css">
        <script defer src="/static/fontawesome.js"></script>
    {% endblock %}
</head>
<body>
{% block menu %}
    <section class="section">
        <div class="container">
            <h2 class="title">Overview </h2>
            <div class="buttons">
                <a href="/" class="button is-primary">Home</a>
                <a href="/storage" class="button is-primary">Storage</a>
                <a href="/commands" class="button is-primary">Commands</a>
                {% if not current_user.is_authenticated %}
                    <a href="{{ url_for('auth.login') }}" class="button is-primary">
                        Login
                    </a>
                {% endif %}
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('auth.logout') }}" class="button is-primary">
                    Logout
                    </a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
{% block content %}
{% endblock %}

</body>
</html>