{% extends "base.html" %}
{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title">
                Storage
            </h1>
            <p class="subtitle">
                any space left?
            </p>
            <p class="subtitle">
                Output:
                On the root media is <strong>{{ data["main"] }} GiB</strong> of free space, on the Backup-Drive
                <strong>{{ data["backupdrive"] }} GiB</strong> and on the Data-Drive
                <strong>{{ data["datadrive"] }} GiB</strong>.
            </p>
        </div>
    </section>
{% endblock %}